.parallax {
    background-image: url('/parallax-photo.JPG');
    height: 400px; 
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
  }